{% extends 'apps/reporting/mail/EXCEL/base.html.twig' %}
{% block body %}
<table id="example1" class="table table-bordered table-hover" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        {% for h in headers %}
            <th>{{ h }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for user in filtersData %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.nom}}</td>
            <td>{{user.contrat}}</td>
            <td>{{user.avis}}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        {% for h in headers %}
            <th>{{ h }}</th>
        {% endfor %}
    </tr>
    </tfoot>
</table>
{% endblock %}