<h4 class="mt-3">Demande d'avis / conseil {{ object.id }}</h4>
<!-- TO-DO : Réaliser un affichage avec la réponse de la demande d'avis -->
<div class="row mt-2">
    <div class="col">
        <div class="form-group">
            <label for="">Objet</label>
            <input type="text" class="form-control" value="{{object.objet}}" disabled>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        <div class="form-group">
            <label for="">Niveau d'exécution</label>
            <textarea class="form-control" rows="10" style="resize: none;" disabled>
                {{object.niveauExecution}}
            </textarea>
        </div>
    </div>
</div>
<div class="row mt-1">
    <div class="col">
        <div class="form-group">
            <label for="">Renseignement</label>
            <textarea class="form-control" rows="10" style="resize: none;" disabled>
                {{object.renseignement}}
            </textarea>
        </div>
    </div>
</div>
<div class="row mt-1">
    <div class="col">
        <div class="form-group">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Fichiers joints</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Nom du document</th>
                            <th>Ajouté le</th>
                            <th>Télécharger</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for doc in object.docAvisConseils  %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ doc.originalName }}</td>
                                <td>{{ doc.createdAt | date('d-m-Y') }}</td>
                                <td>
                                    <a href="{{ '/uploads/' ~ doc.path }}" target="_blank" download>
                                        <button type="button" class="btn btn-block btn-primary" download="{{ doc.originalName }}">Télécharger</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
{% if object.isFinished %}
<div class="row mt-1">
    <div class="col">
        <div class="form-group">
            <label for="">Réponse</label>
            <textarea class="form-control" rows="10" style="resize: none;" disabled>
                {{object.reponse}}
            </textarea>
        </div>
    </div>
</div>
{% endif %}
